.modlist label {
    display: table-cell;
    width: 15em;
    margin-left: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: top;
}

.modlist li {
    display: inline;
}

.modlist2 label {
    display: table-cell;
    width: 325px;
    padding-right: 25px;
    margin-left: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: top;
}

.modlist2 li {
    display: inline;
}

.adddocform .errorlist {
    font-weight: bold;
    color: red;
    display: inline;
    left: -35px;
    position: relative;
}

.adddocform .errorlist li {
    display: inline;
}

#id_dkey_comment_actions {
	margin-left: 40px;
}

#id_dkey_comment_issues {
	margin-left: 40px;
}