{% extends "ceqanet/base.html" %}

{% block title %}OPR Data Clearinghouse Search{% endblock title %}

{% block extrajs %}
  <script>
    $(function() {
        $( "#id_date_from" ).datepicker({dateFormat: "yy-mm-dd"});
    });
    $(function() {
        $( "#id_date_to" ).datepicker({dateFormat: "yy-mm-dd"});
    });
  </script>
{% endblock extrajs %}

{% block content %}

<table>
    <tr>
      <td colspan="3">
        <h4>Advanced Search</h4>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="right">
        <button onclick="window.location = '{% url 'basicsearch' %}'">Basic Search</button>
      </td>
    </tr>
  <FORM name="searchform" method="post" action="">
    {% csrf_token %}
    <tr>
      <td colspan="3">
        <b>{{ form.colation.label }}</b>
        {% for r in form.colation %}
          {{ r }}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>
        <B><FONT size="+1">Apply Search Filters:</FONT></B>
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
      <TH colspan="3" align="left">
        {{ form.rdodate.label }}
      </TH>
    </tr>
    {% for date in form.rdodate %}
    <TR>
      <TD colspan="3">
      {% if forloop.counter = 1 %}
        {{ date }}
      {% else %}
        <div id="rdodate_div">
          {{ date }} {{ form.date_from.label }} {{ form.date_from }} {{ form.date_to.label }} {{ form.date_to }}
        </div>
        <input type="button" id="days30" value="Previous 30 Days">
        <input type="button" id="days60" value="Previous 60 Days">
        <input type="button" id="days90" value="Previous 90 Days">
        <input type="button" id="days180" value="Previous 180 Days">
        <input type="button" id="days360" value="Previous 360 Days">
      {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <script>
      $(document).ready(function() {
        function setdatepickers(days) {
          var today = new Date();
          var past = new Date();
          past.setDate(today.getDate()-days);
          $("#id_date_from").datepicker().datepicker('setDate',past);
          $("#id_date_to").datepicker().datepicker('setDate',today);
        };
        $("#days30").click(function() {setdatepickers(30);});
        $("#days60").click(function() {setdatepickers(60);});
        $("#days90").click(function() {setdatepickers(90);});
        $("#days180").click(function() {setdatepickers(180);});
        $("#days360").click(function() {setdatepickers(360);});
      });
    </script>
    <tr>
      <TH colspan="3" align="left">
        {{ form.rdoplace.label }}
      </TH>
    </tr>
    {% for place in form.rdoplace %}
    <TR>
      <TD colspan="3">
      {% if forloop.counter = 1 %}
        {{ place }}
      {% elif forloop.counter = 2 %}
        <div id="rdoplace1_div">
          {{ place }} {{ form.cityid }}
        </div>
      {% elif forloop.counter = 3 %}
        <div id="rdoplace2_div">
          {{ place }} {{ form.countyid }}
        </div>
      {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <tr>
      <TH colspan="3" align="left">
        {{ form.rdolag.label }}
      </TH>
    </tr>
    {% for lag in form.rdolag %}
    <TR>
      <TD colspan="3">
      {% if forloop.counter = 1 %}
        {{ lag }}
      {% elif forloop.counter = 2 %}
        <div id="rdolag_div">
          {{ lag }} {{ form.lagid }}
        </div>
      {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <tr>
      <TH colspan="3" align="left">
        {{ form.rdorag.label }}
      </TH>
    </tr>
    {% for rag in form.rdorag %}
    <TR>
      <TD colspan="3">
      {% if forloop.counter = 1 %}
        {{ rag }}
      {% elif forloop.counter = 2 %}
        <div id="rdorag_div">
          {{ rag }} {{ form.ragid }}
        </div>
      {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <tr>
      <TH colspan="3" align="left">
        {{ form.rdodoctype.label }}
      </TH>
    </tr>
    {% for doctype in form.rdodoctype %}
    <TR>
      <TD colspan="3">
      {% if forloop.counter = 1 %}
        {{ doctype }}
      {% elif forloop.counter = 2 %}
        <div id="rdodoctype_div">
          {{ doctype }} {{ form.doctypeid }}
        </div>
      {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <tr>
      <TH colspan="3" align="left">
        {{ form.rdolat.label }}
      </TH>
    </tr>
    {% for lat in form.rdolat %}
    <TR>
      <TD colspan="3">
      {% if forloop.counter = 1 %}
        {{ lat }}
      {% elif forloop.counter = 2 %}
        <div id="rdolat_div">
          {{ lat }} {{ form.latid }}
        </div>
      {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <tr>
      <TH colspan="3" align="left">
        {{ form.rdodevtype.label }}
      </TH>
    </tr>
    {% for devtype in form.rdodevtype %}
    <TR>
      <TD colspan="3">
      {% if forloop.counter = 1 %}
        {{ devtype }}
      {% elif forloop.counter = 2 %}
        <div id="rdodevtype_div">
          {{ devtype }} {{ form.devtypeid }}
        </div>
      {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <tr>
      <TH colspan="3" align="left">
        {{ form.rdoissue.label }}
      </TH>
    </tr>
    {% for issue in form.rdoissue %}
    <TR>
      <TD colspan="3">
      {% if forloop.counter = 1 %}
        {{ issue }}
      {% elif forloop.counter = 2 %}
        <div id="rdoissue_div">
          {{ issue }} {{ form.issueid }}
        </div>
      {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <tr>
      <TH colspan="3" align="left">
        {{ form.rdotitle.label }}
      </TH>
    </tr>
    {% for title in form.rdotitle %}
    <TR>
      <TD colspan="3">
      {% if forloop.counter = 1 %}
        {{ title }}
      {% elif forloop.counter = 2 %}
        <div id="rdotitle_div">
          {{ title }} {{ form.titlestr }}
        </div>
      {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <tr>
      <TH colspan="3" align="left">
        {{ form.rdodescription.label }}
      </TH>
    </tr>
    {% for description in form.rdodescription %}
    <TR>
      <TD colspan="3">
      {% if forloop.counter = 1 %}
        {{ description }}
      {% elif forloop.counter = 2 %}
        <div id="rdodescription_div">
          {{ description }} {{ form.descriptionstr }}
        </div>
      {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <tr>
      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Submit Search">
      </td>
    </tr>
  </form>
</table>

<script>
  $("#rdodate_div").click(function() {
    setRadio('rdodate_1');
  });
  $("#rdoplace1_div").click(function() {
    setRadio('rdoplace_1');
  });
  $("#rdoplace2_div").click(function() {
    setRadio('rdoplace_2');
  });
  $("#rdolag_div").click(function() {
    setRadio('rdolag_1');
  });
  $("#rdorag_div").click(function() {
    setRadio('rdorag_1');
  });
  $("#rdodoctype_div").click(function() {
    setRadio('rdodoctype_1');      
  });
  $("#rdolat_div").click(function() {
    setRadio('rdolat_1');      
  });
  $("#rdodevtype_div").click(function() {
    setRadio('rdodevtype_1');      
  });
  $("#rdoissue_div").click(function() {
    setRadio('rdoissue_1');      
  });
  $("#rdotitle_div").click(function() {
    setRadio('rdotitle_1');      
  });
  $("#rdodescription_div").click(function() {
    setRadio('rdodescription_1');      
  });
  
  function setRadio(id) {
    var radio = $('#' + id);
    radio[0].checked = true;
    radio.button("refresh");
  }
</script>

{% endblock content %}