{% extends "ceqanet/base.html" %}

{% block title %}OPR Data Clearinghouse Query{% endblock title %}

{% block formabove %}
<div id="search">
    <form>
        <ul>
        {{ form.as_ul }}
        <li><input type="submit" value="Search" class="button" title='Click to search'></li>
        <li><button onclick="window.location = '{% url 'advancedquery' %}'">Advanced Search</button></li>
        </ul>
    </form>
</div>
{% endblock formabove %}

{% block content %}

<table>
    <tr>
      <td colspan="3">
        <h4>Basic Query</h4>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="right">
        <button onclick="window.location = '{% url 'advancedquery' %}'">Advanced Query</button>
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
    </tr>
  <FORM name="queryform" method="post" action="">
    {% csrf_token %}
    <tr>
      <td colspan="3">
        <B>{{ form.colation.label }}</B>
        {% for r in form.colation %}
          {{ r }}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>
        <B>{{ form.prj_schno.label }}</B>
      </td>
      <td colspan="2">
        {{ form.prj_schno }}
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Submit Query">
      </td>
    </tr>
  </form>
</table>

{% endblock content %}
