{% extends "ceqanet/base.html" %}

{% load staticfiles %}

{% block content %}

  <h4>Current Open Comment Period Documents</h4>
  {% if object_list %}
  <TABLE border="1">
    {% if is_paginated %}
    <TR>
      <TD COLSPAN="6" ALIGN="middle">
          <B>
            {% if page_obj.number = 1 %}
              [First]&nbsp;&nbsp;
            {% else %}
              <A HREF="?page=1&{{ restofqs }}">[First]</A>&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page={{ page_obj.next_page_number }}&{{ restofqs }}">[Next]</A>&nbsp;&nbsp;
            {% else %}
              [Next]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_previous %}
              <A HREF="?page={{ page_obj.previous_page_number }}&{{ restofqs }}">[Previous]</A>&nbsp;&nbsp;
            {% else %}
              [Previous]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page=last&{{ restofqs }}">[Last]</A>
            {% else %}
              [Last]
            {% endif %}
          </B>
      </TD>
    </TR>
    {% endif %}
    <TR>
      <TH align="center" width="10%">
        Lead Agency
      </TH>
      <TH align="center" width="10%">
        Project Title
      </TH>
      <TH align="center" width="30%">
        Description
      </TH>
      <TH align="center" width="7%">
        Document Type
      </TH>
      <TH align="center" width="8%">
        Start of Review
      </TH>
      <TH align="center" width="8%">
        End of Review
      </TH>
      <TH align="center" width="7%">
        Number of Comments
      </TH>
    </TR> 
    {% for comment in comments %}
      <TR>
        <TD align="center">
          {{ comment.drag_doc_fk.doc_prj_fk.prj_leadagency }}
        </TD>
        <TD align="center">
            <a href="{% url 'commentdetail' %}?doc_pk={{ comment.drag_doc_fk.doc_pk }}"><i>{{ comment.drag_doc_fk.doc_prj_fk.prj_title }}</i></a>
        </TD>
        <TD align="center">
          {{ comment.drag_doc_fk.doc_prj_fk.prj_description }}
        </TD>
        <TD align="center">
          {{ comment.drag_doc_fk.doc_doctype }}
        </TD>
        <TD align="center">
          {{ comment.drag_doc_fk.doc_dept }}
        </TD>
        <TD align="center">
          {{ comment.drag_doc_fk.doc_clear }}
        </TD>
        <TD align="center">
          {{ comment.drag_numcomments }}
        </TD>
      </TR>
    {% endfor %}
    {% if is_paginated %}
    <TR>
      <TD COLSPAN="6" ALIGN="middle">
          <B>
            {% if page_obj.number = 1 %}
              [First]&nbsp;&nbsp;
            {% else %}
              <A HREF="?page=1&{{ restofqs }}">[First]</A>&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page={{ page_obj.next_page_number }}&{{ restofqs }}">[Next]</A>&nbsp;&nbsp;
            {% else %}
              [Next]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_previous %}
              <A HREF="?page={{ page_obj.previous_page_number }}&{{ restofqs }}">[Previous]</A>&nbsp;&nbsp;
            {% else %}
              [Previous]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page=last&{{ restofqs }}">[Last]</A>
            {% else %}
              [Last]
            {% endif %}
          </B>
      </TD>
    </TR>
    {% endif %}
  </TABLE>
  {% endif %}

{% endblock content %}