{% extends "ceqanet/listpage.html" %}

{% block title %}OPR Data Clearinghouse Document Listing{% endblock title %}

{% load staticfiles %}

{% block onload %} 
onload="init()"
{% endblock onload %}

{% block extrajs %}
<meta name="apple-mobile-web-app-capable" content="yes">
<script src="//cdnjs.cloudflare.com/ajax/libs/openlayers/2.12/OpenLayers.js"></script>
<script type="text/javascript" src="{% static 'ceqanet/js/minimap.js' %}"></script>
<link rel="stylesheet" href="{% static 'ceqanet/css/minimap.css' %}">
<script type="text/javascript">
//take the doc id get the geojson and add it to the map centering on the data
var doc={{doc}};
</script>
{% endblock extrajs %}

{% block listing %}
  <div id="tophtml">
    <h3>Document Description:</h3>
    <table width="767" border="0" cellpadding="3">
      <tr> 
        <td> 
          <b>SCH Number:</b> <a href="{% url 'doclist' %}?prj_schno={{ doc.doc_prj_fk.prj_schno }}&sortfld=-doc_received&mode=basic">{{ doc.doc_prj_fk.prj_schno }}</a>
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Project Title:</b> 
          {% if doc.doc_title %}
            {{ doc.doc_title }}
          {% else %}
            {{ doc.doc_prj_fk.prj_title }}
          {% endif %}
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Project Description:</b>
        </td>
      </tr>
      <tr> 
        <td>
          {% if doc.doc_description %}
            {{ doc.doc_description }}
          {% else %}
            {{ doc.doc_prj_fk.prj_description }}
          {% endif %}
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Document Type:</b> {{ doc.doc_doctype }}  - {{ doc.doc_docname }}
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Project Lead Agency:</b> {{ doc.doc_prj_fk.prj_leadagency }}
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Contact Information</b>
        </td>
      </tr>
      <tr> 
        <td>
          <table border="0">
            <tr>
              <th align="left">
                Primary Contact:
              </td>
            </tr>
            <tr>
              <td align="left">
               {{ doc.doc_conname }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conagency }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conphone }}
              </td>
            </tr>
            {% if doc.doc_conemail %}
            <tr>
              <td align="left">
                <a href="mailto:{{ doc.doc_conemail }}">{{ doc.doc_conemail }}</a>
              </td>
            </tr>
            {% endif %}
            <tr>
              <td align="left">
                {{ doc.doc_conaddress1 }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conaddress2 }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_concity }}, {{ doc.doc_constate }} {{ doc.doc_conzip }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td>  
          <b>Project Location</b>
        </td>
      </tr>
    </table>
    </div>
    <div id="map">
    </div>
    <div id="sources">
    Background Map Sources: 
    <a href="http://maps.stamen.com/">Stamen Designs</a> and 
    <a href="http://www.openstreetmap.org">©OpenStreetMap contributors.</a>
    </div>
    <div id="attributes"></div>
    <div id="bottomhtml">
    <table width="767" border="0" cellpadding="3">
      <tr> 
        <td>
          <table border="0">
            <tr>
              <td align="left">
                Counties:
                {% for cnty in counties %}
                  {{ cnty.geow_shortname }}&nbsp;
                {% endfor %}
              </td>
            </tr>
            <tr>
              <td align="left">
                Cities:
                {% for cty in cities %}
                  {{ cty.geow_shortname }}&nbsp;
                {% endfor %}                
              </td>
            </tr> 
            <tr>
              <td align="left">
                Region: {{ doc.doc_region }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Cross Streets: {{ doc.doc_xstreets }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                {% if latlongs.exists %}
                  {% for ll in latlongs %}
                    Latitude/Longitude: {{ ll.doc_latitude}} / {{ ll.doc_longitude }}
                  {% endfor %}
                {% else %}
                  Latitude/Longitude:
                {% endif %}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Parcel No: {{ doc.doc_parcelno }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Township: {{ doc.doc_township }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Range: {{ doc.doc_range }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Section: {{ doc.doc_section }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Base: {{ doc.doc_base }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Other Location Info: {{ doc.doc_location }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td>
          <b>Proximity To</b>
        </td>
      </tr>
      <tr> 
        <td>
          <table border="0">
            <tr>
              <td align="left">
                Highways: {{ doc.doc_highways }}
              </td>
            </tr>
            <tr>
              <td align="left">
                Airports: {{ doc.doc_airports }}
              </td>
            </tr>
            <tr>
              <td align="left">
                Railways: {{ doc.doc_railways }}
              </td>
            </tr>
            <tr>
              <td align="left">
                Waterways: {{ doc.doc_waterways }}
              </td>
            </tr>
            <tr>
              <td align="left">
                Schools: {{ doc.doc_schools }}
              </td>
            </tr>
            <tr>
              <td align="left">
                Land Use: {{ doc.doc_landuse }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Local Action</b>
        </td>
      </tr>
      <tr> 
        <td class="content">
          <ul>
            {% for a in actions %}
              <li>
                {{ a.dkey_keyw_fk.keyw_longname }}
                {% if a.dkey_comment %}
                  {% if a.dkey_comment.strip != '' %}
                    ({{ a.dkey_comment.strip }})
                  {% endif %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Development Type</b>
        </td>
      </tr>
      <tr> 
        <td>
          <ul>
            {% for d in dev %}
              <li>
                {{ d.dkey_keyw_fk.keyw_longname }}
                {% if d.dkey_comment %}
                  {% if d.dkey_comment.strip != '' %}
                    ({{ d.dkey_comment.strip }})
                  {% endif %}
                {% endif %} 
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Project Issues</b> 
        </td>
      </tr>
      <tr> 
        <td>
          <ul> 
            {% for i in issues %}
              <li>
                {{ i.dkey_keyw_fk.keyw_longname }}
                {% if i.dkey_comment %}
                  {% if i.dkey_comment.strip != '' %}
                    ({{ i.dkey_comment.strip }})
                  {% endif %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Reviewing Agencies</b>  (Agencies in <b>Bold Type</b> submitted comments to the State Clearinghouse. Comment links appear after the Agency's name and if late are <I>italicized</I>.) 
        </td>
      </tr>
      <tr> 
        <td>
          <ul> 
            {% for rev in reviews %}
              {% if rev.drag_numcomments > 0 %}
                  <li><B>{{ rev.drag_rag_fk.rag_name }}</B>
                  {% for com in comments %}
                    {% if com.dcom_drag_fk.drag_pk = rev.drag_pk %}
                      {% if com.dcom_commentdate > doc.doc_clear %}
                        &nbsp;<a href="{% url 'showcomment' com.dcom_pk %}"><I>{{ forloop.counter }}</I></a>
                      {% else %}
                        &nbsp;<a href="{% url 'showcomment' com.dcom_pk %}">{{ forloop.counter }}</a>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
              {% else %}
                  <li>{{ rev.drag_rag_fk.rag_name }}
              {% endif %}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Document Attachments</b> 
        </td>
      </tr>
      <tr> 
        <td>
          <ul>
            {% if attachments %}
              {% for a in attachments %}
                <li>
                  <a href="{{ a.datt_file.url }}" target="_blank">{{ a.datt_file.name }}</a>
                </li>
              {% endfor %}
            {% else %}
              <li>NO ATTACHMENTS</li>
            {% endif %}
          </ul>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Additional Comments</b> 
        </td>
      </tr>
      <tr> 
        <td>
          <ul>
            <li>
              {% if comments %}
                {{ doc.doc_clerknotes }}
              {% else %}
                NONE
              {% endif %}
            </li>
          </ul>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Date Received:</b> {{ doc.doc_received }}&nbsp; 
          <b>Start of Review:</b>
          {% if doc.doc_dept != None %} 
            {{ doc.doc_dept }}&nbsp; 
          {% endif %}&nbsp;&nbsp;&nbsp; 
          <b>End of Review:</b> 
          {% if doc.doc_clear != None %} 
            {{ doc.doc_clear }} 
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <hr width="100%">
        </td>
      </tr>
      {% for g in user.groups.all %}
      {% if g.name = "planners" or g.name = "clearinghouse" %}
      <tr>
        <td>
          <button onclick="window.location = '{% url 'docedit_nop' %}?doc_pk={{ doc_pk }}'">Edit Database Record</button>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>

{% endblock listing %}