{% extends "ceqanet/listpage.html" %}

{% block title %}OPR Data Clearinghouse Document Listing{% endblock title %}

{% block listing %}
  {% load staticfiles %}
    <table width="767" border="0" cellpadding="3">
      <tr>
        <td align="center">
          <h3>{{ doc.doc_prj_fk.prj_title }}</h3>
        </td>
      </tr>
      <tr> 
        <td> 
          <b>SCH Number:</b> {{ doc.doc_prj_fk.prj_schno }}
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Document Type:</b> {{ doc.doc_doctype }}  - {{ doc.doc_docname }}
        </td>
      </tr>
      {% if doc.doc_title %}
        {% if doc.doc_title.strip != '' %}
      <tr> 
        <td> 
          <b>Alternate Title:</b> {{ doc.doc_title }}
        </td>
      </tr>
        {% endif %}
      {% endif %}
      <tr> 
        <td> 
          <b>Project Lead Agency:</b> {{ doc.doc_prj_fk.prj_leadagency }}
        </td>
      </tr>
      <tr>
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Project Description</b>
        </td>
      </tr>
      <tr> 
        <td>
          {{ doc.doc_description }}
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Contact Information</b>
        </td>
      </tr>
      <tr> 
        <td>
          <table border="0">
            <tr>
              <th align="left">
                Primary Contact:
              </td>
            </tr>
            <tr>
              <td align="left">
               {{ doc.doc_conname }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conagency }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conphone }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conaddress1 }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conaddress2 }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_concity }}, {{ doc.doc_constate }} {{ doc.doc_conzip }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td>  
          <b>Project Location</b>
        </td>
      </tr>
      <tr> 
        <td>
          <table border="0">
            <tr>
              <td align="left">
                County: {{ doc.doc_county }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                City: {{ doc.doc_city }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Region: {{ doc.doc_region }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Cross Streets: {{ doc.doc_xstreets }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {% if latlongs.exists %}
                {% for ll in latlongs %}
                  Latitude/Longitude: {{ ll.doc_latitude }} / {{ ll.doc_longitude }}
                {% endfor %}
                {% else %}
                  Latitude/Longitude:
                {% endif %}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Parcel No: {{ doc.doc_parcelno }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Township: {{ doc.doc_township }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Range: {{ doc.doc_range }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Section: {{ doc.doc_section }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Base: {{ doc.doc_base }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Other Location Info: {{ doc.doc_location }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td>
          <b>Determinations</b>
        </td>
      </tr>
      <tr> 
        <td>
          This is to advise that the 
          {% if doc.doc_nodbylead %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          Lead Agency &nbsp; 
          {% if doc.doc_nodbyresp %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          Responsible Agency &nbsp; 
          {% if doc.doc_nodagency.strip = '' %} 
            ________________
          {% else %}
            &nbsp;{{ doc.doc_nodagency }}&nbsp; 
          {% endif %}
          has approved the project described above on 
          {% if doc.doc_nod = None %} 
            ______
          {% else %}
            &nbsp;{{ doc.doc_nod }}&nbsp; 
          {% endif %}
          and has made the following determinations regarding the project described 
          above.
        </td>
      </tr>
      <tr> 
        <td>
          1. The project 
          {% if doc.doc_detsigeffect %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          will &nbsp; 
          {% if doc.doc_detnotsigeffect %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          will not have a significant effect on the environment.
        </td>
      </tr>
      <tr> 
        <td>
          2. 
          {% if doc.doc_deteir %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          An Environmental Impact Report was prepared for this project pursuant to 
          the provisions of CEQA.
        </td>
      </tr>
      <tr> 
        <td>
          &nbsp;&nbsp;&nbsp;
          {% if doc.doc_detnegdec %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          A Negative Declaration was prepared for this project pursuant to the provisions 
          of CEQA.
        </td>
      </tr>
      <tr> 
        <td>
          3. Mitigation measures 
          {% if doc.doc_detmitigation %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          were &nbsp; 
          {% if doc.doc_detnotmitigation %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          were not made a condition of the approval of the project.
        </td>
      </tr>
      <tr> 
        <td>
          4. A Statement of Overriding Considerations 
          {% if doc.doc_detconsider %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          was &nbsp; 
          {% if doc.doc_detnotconsider %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          was not adopted for this project.
        </td>
      </tr>
      <tr> 
        <td>
          5. Findings 
          {% if doc.doc_detfindings %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          were &nbsp; 
          {% if doc.doc_detnotfindings %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}"> 
          {% endif %}
          were not made pursuant to the provisions of CEQA.
        </td>
      </tr>
      <TR>
        <TD>
          &nbsp;
        </TD>
      </TR>
      <tr>
        <td>
          <B>Final EIR Available at:</B> {{ doc.doc_eiravailableat }}
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td>
          <b>Date Received:</b> {{ doc.doc_received }} 
        </td>
      </tr>
      <tr>
        <td>
          <hr width="100%">
        </td>
      </tr>
      <tr>
        <td>
          <button onclick="window.location = '{% url 'docedit_nod' %}?doc_pk={{ doc_pk }}'">Edit Database Record</button>
        </td>
      </tr>
    </table>
{% endblock listing %}