{% extends "ceqanet/listpage.html" %}

{% block title %}OPR Data Clearinghouse Document Listing{% endblock title %}

{% block listing %}
  {% load staticfiles %}
    <h3>Document Description:</h3>
    <table width="767" border="0" cellpadding="3">
      <tr> 
        <td> 
          <b>SCH Number:</b> <a href="{% url 'doclist' %}?prj_schno={{ doc.doc_prj_fk.prj_schno }}&sortfld=-doc_received&mode=basic">{{ doc.doc_prj_fk.prj_schno }}</a>
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Project Title:</b> 
          {% if doc.doc_title %}
            {{ doc.doc_title }}
          {% else %}
            {{ doc.doc_prj_fk.prj_title }}
          {% endif %}
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Project Description:</b>
        </td>
      </tr>
      <tr> 
        <td>
          {% if doc.doc_description %}
            {{ doc.doc_description }}
          {% else %}
            {{ doc.doc_prj_fk.prj_description }}
          {% endif %}
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Document Type:</b> {{ doc.doc_doctype }}  - {{ doc.doc_docname }}
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Project Lead Agency:</b> {{ doc.doc_prj_fk.prj_leadagency }}
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Agency Approving Project:</b> {{ doc.doc_approve_noe }}
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Person or Agency Carrying Out Project:</b> {{ doc.doc_carryout_noe }}
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Contact Information</b>
        </td>
      </tr>
      <tr> 
        <td>
          <table border="0">
            <tr>
              <th align="left">
                Primary Contact:
              </td>
            </tr>
            <tr>
              <td align="left">
               {{ doc.doc_conname }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conagency }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conphone }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conaddress1 }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_conaddress2 }}
              </td>
            </tr>
            <tr>
              <td align="left">
                {{ doc.doc_concity }}, {{ doc.doc_constate }} {{ doc.doc_conzip }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td>  
          <b>Project Location</b>
        </td>
      </tr>
      <tr> 
        <td>
          <table border="0">
            <tr>
              <td align="left">
                County: {{ doc.doc_county }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                City: {{ doc.doc_city }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Region: {{ doc.doc_region }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Cross Streets: {{ doc.doc_xstreets }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                {% if latlongs.exists %}
                  {% for ll in latlongs %}
                    Latitude/Longitude: {{ ll.doc_latitude }} / {{ ll.doc_longitude }}
                  {% endfor %}
                {% else %}
                  Latitude/Longitude:
                {% endif %}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Parcel No: {{ doc.doc_parcelno }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Township: {{ doc.doc_township }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Range: {{ doc.doc_range }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Section: {{ doc.doc_section }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Base: {{ doc.doc_base }}
              </td>
            </tr> 
            <tr>
              <td align="left">
                Other Location Info: {{ doc.doc_location }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr> 
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td>
          <b>Exempt Status</b>
        </td>
      </tr>
      <tr> 
        <td>
          {% if doc.doc_exministerial %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}">
          {% endif %}
          &nbsp;Ministerial
        </td>
      </tr>
      <tr> 
        <td>
          {% if doc.doc_exdeclared %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}">
          {% endif %}
          &nbsp;Declared Emergency
        </td>
      </tr>
      <tr> 
        <td>
          {% if doc.doc_exemergency %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}">
          {% endif %}
          &nbsp;Emergency Project
        </td>
      </tr>
      <tr> 
        <td>
          {% if doc.doc_excategorical %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}">
          {% endif %}
          &nbsp;Categorical Exemption
        </td>
      </tr>
      <tr> 
        <td>
          {% if doc.doc_exstatutory %}
            <img src="{% static "ceqanet/img/check1.gif" %}"> 
          {% else %}
            <img src="{% static "ceqanet/img/check0.gif" %}">
          {% endif %}
          &nbsp;Statutory Exemption
        </td>
      </tr>
      <tr> 
        <td>
          <b>Type, Section or Code Number:</b> {{ doc.doc_exnumber }}  
        </td>
      </tr>
      <tr> 
        <td>
          <b>Reasons for Exemption</b>
        </td>
      </tr>
      <tr> 
        <td>
          {{ doc.doc_exreasons }}
        </td>
      </tr>
      <tr>
        <td> 
          <hr width="100%">
        </td>
      </tr>
      <tr> 
        <td> 
          <b>Date Received:</b> {{ doc.doc_received }}
        </td>
      </tr>
      <tr>
        <td>
          <hr width="100%">
        </td>
      </tr>
      {% for g in user.groups.all %}
      {% if g.name = "planners" or g.name = "clearinghouse" %}
      <tr>
        <td>
          <button onclick="window.location = '{% url 'docedit_noe' %}?doc_pk={{ doc_pk }}'">Edit Database Record</button>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
{% endblock listing %}