{% extends "ceqanet/base.html" %}

{% load staticfiles %}

{% block content %}

{{ form.media }}
<FORM name="editdoc" method="post" action="">
  {% csrf_token %}
  <TABLE border="0" cellpadding="3" cellspacing="0" width="763" valign="top">
    <TR> 
      <TH align="left" colspan="3">
        <h3>Project Information:</h3>
      </TH>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.prj_title.label }}
      </TH>
      <TD colspan="2">
        {{ form.prj_title }} {{ form.prj_title.errors }}
      </TD>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.prj_description.label }}
      </TH>
      <TD colspan="2">
        {{ form.prj_description }} {{ form.prj_description.errors }}
      </TD>
    </TR>
    <TR> 
      <TH align="left" colspan="3">
        <h3>Document Information:</h3>
      </TH>
    </TR>
    <TR> 
      <TH align="left" colspan="3">
        Lead Agency Contact Information:
      </TH>
    </TR>
    <tr>
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conagency.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_conagency }}
      </td>
    </tr>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conname.label }}
      </TH>
      <TD colspan="2"> 
        {{ form.doc_conname }} {{ form.doc_conname.errors }}
      </TD>
    </TR>
    <TR> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conemail.label }}
      </TH>
      <TD colspan="2">
        {{ form.doc_conemail }}  {{ form.doc_conemail.errors }}
      </TD>
    </TR>
    <TR>   
      <TD width="25%" valign="top">
        <B>Phone:</B>
      </TD>
      <TD colspan="2">
        {{ form.doc_conphone }} {{ form.doc_conphone.errors }}
      </TD>
    </TR>
    <tr> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conaddress1.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_conaddress1 }} {{ form.doc_conaddress1.errors }}
      </td>
    </tr>
    <tr> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conaddress2.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_conaddress2 }} {{ form.doc_conaddress2.errors }}
      </td>
    </tr>
    <TR> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_concity.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_concity }} {{ form.doc_concity.errors }}
      </td>
    </TR>
    <TR> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_constate.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_constate }} {{ form.doc_constate.errors }}
      </td>
    </tr>
    <tr> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conzip.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_conzip }} {{ form.doc_conzip.errors }}
      </td>
    </tr>
    <tr> 
      <td colspan="3" height="20">
        <h5>Location Information:</h5>
      </td>
    </tr>
    <TR>
      <TH width="25%" align="left" valign="top"> 
        {{ form.doc_location.label }}
      </TH>
      <TD colspan="2"> 
        {{ form.doc_location }} {{ form.doc_location.errors }}
      </TD>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.doc_latitude.label }}
      </TH>
      <TD colspan="2">
        {{ form.doc_latitude }} {{ form.doc_latitude.errors }}
      </TD>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.doc_longitude.label }}
      </TH>
      <TD colspan="2">
        {{ form.doc_longitude }} {{ form.doc_longitude.errors }}
      </TD>
    </TR>
    <TR>
      <TD width="25%" valign="top">
        <b>City:</b>
      </TD>
      <TD colspan="2"> 
        {{ form.doc_city }} {{ form.doc_city.errors }}
      </TD>
    </TR>
    <TR>
      <TD width="25%" valign="top">
        <b>County:</b>
      </TD>
      <td colspan="2"> 
        {{ form.doc_county }} {{ form.doc_county.errors }}
      </td>
    </TR>
    <TR> 
      <TD align="left" colspan="3"> 
        <input type="submit" value="Update">
      </TD>
    </TR>
  </TABLE>
  <input type="hidden" name="doc_pk" value="{{ doc_pk }}">
</FORM>

{% endblock content %}