{% extends "ceqanet/listpage.html" %}

{% block title %}OPR Data Clearinghouse Project Listing{% endblock title %}

{% block listing %}

  {% if docs %}
 	<TABLE border="1">
    <TR>
      <TD colspan="6">
        <TABLE width="100%">
          <tr>
            <td colspan="2">
              <button onclick="window.location = '{% url 'basicquery' %}'">Basic Query</button>
              <button onclick="window.location = '{% url 'advancedquery' %}'">Advanced Query</button>
            </td>
          </tr>
          <TR>
            <TD>
              <B>Query Type:</B> Document Listing - {{ mode|title }}
            </TD>
            <TD align="right">
              <B>Sorted By:</B>
              {% for key,value in form.sortfld.field.widget.choices %}
                {% if key = sortfld %}
                  {{ value }}
                {% endif %}
              {% endfor %}
            </TD>
          </TR>
          <TR>
            <TD>
              <B>Parameters:</B>
              {% if mode = "basic" %}
                Clearinghouse Number begins with: {{ prj_schno }}
              {% endif %}
            </TD>
            <td align="right">
              <FORM name="sortform" method="get" action="">
                <B>{{ form.sortfld.label }}</B> {{ form.sortfld }}
                <INPUT type="hidden" name="mode" value="{{ mode }}">
                {% if mode = "basic" %}
                  <INPUT type="hidden" name="prj_schno" value="{{ prj_schno }}">
                {% endif %}
                <INPUT type="submit" value="Resort">
              </FORM>
            </td>
          </TR>
        </TABLE>
      </TD>
    </TR>
    {% if is_paginated %}
    <TR>
      <TD COLSPAN="6" ALIGN="middle">
        <TABLE>
          <TR>
            <TD align="middle">
              <B>Page Number = {{ page_obj.number }}</B>
            </TD>
          </TR>
          <TR>
            <TD align="middle">
              <B>
                {% if page_obj.number = 1 %}
                  [First]&nbsp;&nbsp;
                {% else %}
                  <A HREF="?page=1&{{ restofqs }}">[First]</A>&nbsp;&nbsp;
                {% endif %}
                {% if page_obj.has_next %}
                  <A HREF="?page={{ page_obj.next_page_number }}&{{ restofqs }}">[Next]</A>&nbsp;&nbsp;
                {% else %}
                  [Next]&nbsp;&nbsp;
                {% endif %}
                {% if page_obj.has_previous %}
                  <A HREF="?page={{ page_obj.previous_page_number }}&{{ restofqs }}">[Previous]</A>&nbsp;&nbsp;
                {% else %}
                  [Previous]&nbsp;&nbsp;
                {% endif %}
                {% if page_obj.has_next %}
                  <A HREF="?page=last&{{ restofqs }}">[Last]</A>
                {% else %}
                  [Last]
                {% endif %}
              </B>
            </TD>
          </TR>
        </TABLE>
      </TD>
    </TR>
    {% endif %}
 	  <TR>
 	  	<TH align="center" width="10%">
 	      SCH#
 	  	</TH>
 	  	<TH align="center" width="10%">
 	  	  Project Title
 	  	</TH>
 	  	<TH align="center" width="40%">
 	  	  Project Description
 	  	</TH>
      <TH align="center" width="10%">
        Lead Agency
      </TH>
 	  	<TH align="center" width="10%">
 	  	  Document Type
 	  	</TH>
 	  	<TH align="center" width="10%">
 	  	  Date Received
 	  	</TH>
 	  </TR> 
    {% for doc in docs %}
      <TR>
      	<TD align="center">
        {% if doc.doc_doctype = 'NOE' or doc.doc_docname.strip = 'Notice of Exemption' %}
          <a href="{% url 'docdesp_noe' doc.doc_pk %}">{{ doc.doc_prj_fk.prj_schno }}</a>
        {% elif doc.doc_doctype = 'NOD' or doc.doc_docname.strip = 'Notice of Determination' %}
          <a href="{% url 'docdesp_nod' doc.doc_pk %}">{{ doc.doc_prj_fk.prj_schno }}</a>
        {% elif doc.doc_doctype = 'NOP' or doc.doc_docname.strip = 'Notice of Preperation' %}
          <a href="{% url 'docdesp_nop' doc.doc_pk %}">{{ doc.doc_prj_fk.prj_schno }}</a>
        {% else %}
          <a href="{% url 'docdesp_noc' doc.doc_pk %}">{{ doc.doc_prj_fk.prj_schno }}</a>
        {% endif %}
    	  </TD>
      	<TD align="center">
          {{ doc.doc_prj_fk.prj_title }}
    	  </TD>
      	<TD align="center">
    	    {{ doc.doc_prj_fk.prj_description }}
    	  </TD>
        <TD align="center">
          {{ doc.doc_prj_fk.prj_leadagency }}
        </TD>
      	<TD align="center">
          {{ doc.doc_docname }} ({{ doc.doc_doctype }})
      	</TD>
      	<TD align="center">
    	    {{ doc.doc_received }}
    	  </TD>
      </TR>
  	{% endfor %}
    {% if is_paginated %}
    <TR>
      <TD COLSPAN="6" ALIGN="middle">
        <TABLE>
          <TR>
            <TD align="middle">
              <B>Page Number = {{ page_obj.number }}</B>
            </TD>
          </TR>
          <TR>
            <TD align="middle">
              <B>
                {% if page_obj.number = 1 %}
                  [First]&nbsp;&nbsp;
                {% else %}
                  <A HREF="?page=1&{{ restofqs }}">[First]</A>&nbsp;&nbsp;
                {% endif %}
                {% if page_obj.has_next %}
                  <A HREF="?page={{ page_obj.next_page_number }}&{{ restofqs }}">[Next]</A>&nbsp;&nbsp;
                {% else %}
                  [Next]&nbsp;&nbsp;
                {% endif %}
                {% if page_obj.has_previous %}
                  <A HREF="?page={{ page_obj.previous_page_number }}&{{ restofqs }}">[Previous]</A>&nbsp;&nbsp;
                {% else %}
                  [Previous]&nbsp;&nbsp;
                {% endif %}
                {% if page_obj.has_next %}
                  <A HREF="?page=last&{{ restofqs }}">[Last]</A>
                {% else %}
                  [Last]
                {% endif %}
              </B>
            </TD>
          </TR>
        </TABLE>
      </TD>
    </TR>
    {% endif %}
    </TABLE>
  {% else %}
  <TABLE>
    <TR>
      <TD ALIGN="middle">
        Query Returned No Records. Please use the Back button on your browser and try again.
      </TD>
    </TR>
  </TABLE>
  {% endif %}

{% endblock listing %}