{% load i18n %}
{% load staticfiles %}
{% load url from future %}
<!--
<!- - Google Analytics - ->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3419582-14']); // Step 4: your google analytics profile code, either from your own google account, or contact eServices to have one set up for you
  _gaq.push(['_setDomainName', '.ca.gov']);
  _gaq.push(['_trackPageview']);

  _gaq.push(['b._setAccount', 'UA-3419582-2']); // statewide analytics - do not remove or change
  _gaq.push(['b._setDomainName', '.ca.gov']);
  _gaq.push(['b._trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!- - Google Suggest - ->
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('search', '1');
	google.setOnLoadCallback(function() {
		google.search.CustomSearchControl.attachAutoCompletion(
			'001779225245372747843:mdsmtl_vi1a', // Step 6: Update this value with your search engine unique ID. Submit a request to the OTech Service Desk if you don't already know your unique search engine ID.
			document.getElementById('search_local_textfield'),
			'local_form');
	});
</script>
-->


<header role="banner">
	<div id="skip_to_content"><a href="#main_content">Skip to Main Content</a></div>

	<div class="phone_hdr">
		<div class="phone_hd_left">
			<a class="p_h_button p_h_menu" onclick="toggle_menu();"><img src="{% static 'ceqanet/CA_template/images/template2013/clear.gif' %}" alt="Menu" /></a>
		</div>
		<div class="phone_hd_right">
			<a class="p_h_button p_h_contact" href="/Contact.html"><img src="{% static 'ceqanet/CA_template/images/template2013/clear.gif' %}" alt="Contact Us" /></a>
			<!--<a class="p_h_button p_h_search" onclick="toggle_search();"><img src="{% static "ceqanet/CA_template/images/template2013/clear.gif" %}" alt="Search" /></a>-->
			{% if user.is_anonymous %}
			<a class="p_h_button p_h_search" href="{% url 'login' %}"><img src="{% static 'ceqanet/CA_template/images/template2013/clear.gif' %}" alt="Login" /></a>
            {% else %}
			<a class="p_h_button p_h_search" href="{% url 'logout' %}"><img src="{% static 'ceqanet/CA_template/images/template2013/clear.gif' %}" alt="Logout" /></a>
            {% endif %}
		</div>
		<div class="logo_and_banner">
			<div class="head_cagov_logo"><a href="http://www.ca.gov/"><img src="{% static 'ceqanet/CA_template/images/template2013/header_ca.gov.png' %}" alt="CA.gov" /></a></div>
			<div class="head_organization_banner"><a href="/"><img src="{% static 'ceqanet/img/OPR_banner.png' %}" alt="Organization Title" height=90px/></a></div>
		</div>
	</div>
	<div class="head_loginout">
			{% if user.is_anonymous %}
				<a class="head_login" href="{% url 'login' %}">{% trans "Log in" %}</a>
			{% else %}
				<a class="head_logout" href="{% url 'logout' %}">{% trans "Log out" %} [{{ user.username }}]</a>
			{% endif %}
	</div>

	<!--
	{% for g in user.groups.all %}
		{% if g.name = "clearinghouse" or g.name = "planners" %}
	<div id="head_search">

	</div>
		{% endif %}
	{% endfor %}
	-->


	<!--
	<div id="head_search">
		<form id="local_form" action="http://www.google.com/cse"> <!- - the form action will be changed using javascript - ->
			<div class="textfield_container">
				<label for="search_local_textfield" accesskey="s" class="hidden">Search this site: </label>
				<input type="text" name="q" id="search_local_textfield" size="40" autocomplete="off" value="Search" onfocus="if(this.value=='Search')this.value=''" onblur="if(this.value=='')this.value='Search'" />

				<input type="hidden" name="cx" value="001779225245372747843:mdsmtl_vi1a" /> <!- - Step 6: Update this value with your search engine unique ID. Submit a request to the OTech Service Desk if you don't already know your unique search engine ID. - ->
				<input type="hidden" name="cof" value="" /> <!- - this value will be set using javascript - ->
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="hidden" name="nojs" value="1" />

			</div>
			<div class="submit_container clearfix">
				<input type="image" alt="Search" title="Search" name="submit" src="{% static "ceqanet/CA_template/images/template2013/clear.gif" %}" />
			</div>
		</form>
	</div>
-->
	
	<nav id="navigation" class="megadropdown">
		<ul id="nav_list">
			<li><a href="{% url 'index' %}" class="nav_level1_link"><span id="nav_home_container"></span><img src="{% static 'ceqanet/CA_template/images/template2013/clear.gif' %}" alt="Home" />&nbsp;</a></li>
			
			<li><a href="{% url 'basicsearch' %}" class="nav_level1_link">{% trans "Search" %}</a>
				<div class="nav_panel">
					<ul>
						<li><a href="{% url 'basicsearch' %}" class="nav_p_heading">Basic Search</a> 
						<div class="nav_p_description">Search CEQANet database with simple interface</div></li>
					</ul>
					<ul>
						<li><a href="{% url 'advancedsearch' %}" class="nav_p_heading">Advanced Search</a> 
						<div class="nav_p_description">Search CEQANet database with power interface</div></li>
					</ul>
					<div class="nav_d_arrow_container"></div>
				</div>
			</li>
            <li><a href="{% url 'map' %}" class="nav_level1_link">{% trans "Map" %}</a></li>
			{% if not user.is_active %}
            <li><a href="{% url 'registration_register' %}" class="nav_level1_link">{% trans "Register" %}</a></li>
            {% endif %}

			{% for g in user.groups.all %}
			{% if g.name = "leads" or g.name = "planners" or g.name = "clearinghouse" %}
			<li><a href="{% url 'submit' %}" class="nav_level1_link">{% trans "Submit" %}</a>
				<div class="nav_panel">
					<ul>
						<li><a href="{% url 'submit' %}" class="nav_p_heading">Submit New Document</a> 
						<div class="nav_p_description">Fill out new CEQANet document for addition to the database</div></li>
						<li><a href="{% url 'reviewsbylag' %}" class="nav_p_heading">Documents in Review</a> 
						<div class="nav_p_description">Review latest documents in review by your Agency</div></li>
					</ul>
					<ul>
						<li><a href="{% url 'draftsbylag' %}" class="nav_p_heading">Draft Documents</a> 
						<div class="nav_p_description">Review documents started but not yet completed or submitted</div></li>
					</ul>
					<ul>
						<li><a href="{% url 'pendingsbylag' %}" class="nav_p_heading">Pending Documents</a> 
						<div class="nav_p_description">Review documents submitted but not yet accepted by the Clearinghouse</div></li>
					</ul>
					<div class="nav_d_arrow_container"></div>
				</div>
			</li>
			{% endif %}
			{% if g.name = "clearinghouse" or g.name = "planners" %}
			<li><a href="{% url 'pending' %}" class="nav_level1_link">{% trans "Control" %}</a>
				<div class="nav_panel">
					<ul>
						<li><a href="{% url 'pending' %}" class="nav_p_heading">Pending</a> 
						<div class="nav_p_description">Process pending clearinghouse documents</div></li>
						<li><a href="{% url 'addleadagency' %}" class="nav_p_heading">Add Lead Agency</a> 
						<div class="nav_p_description">Create new Lead Agency record in database</div></li>
						<li><a href="{% url 'manageusers' %}" class="nav_p_heading">Manage Users</a> 
						<div class="nav_p_description">Change group, delete, etc. CEQANet Users</div></li>
					</ul>
					<ul>
						<li><a href="{% url 'latest' %}" class="nav_p_heading">Latest</a> 
						<div class="nav_p_description">See latest documents accepted to CEQANet</div></li>
						<li><a href="{% url 'addreviewingagency' %}" class="nav_p_heading">Add Reviewing Agency</a> 
						<div class="nav_p_description">Create new Reviewing Agency record in database</div></li>
					</ul>
					<ul>
						<li><a href="{% url 'manageupgrades' %}" class="nav_p_heading">Account Upgrade Requests</a> 
						<div class="nav_p_description">Manage Users requesting higher level permissions on site</div></li>
						<li><a href="{% url 'addholiday' %}" class="nav_p_heading">Add Holiday</a> 
						<div class="nav_p_description">Create new Holiday record in database</div></li>
					</ul>
					<div class="nav_d_arrow_container"></div>
				</div>
			</li>
			{% endif %}
			{% if g.name = "planners" %}
			<li><a href="{% url 'review' %}" class="nav_level1_link">{% trans "Review" %}</a></li>
			{% endif %}
			{% if g.name = "reviewers" or g.name = "planners" or g.name = "clearinghouse" %}
			<li><a href="{% url 'comment' %}" class="nav_level1_link">{% trans "Comment" %}</a></li>
			{% endif %}
			{% endfor %}
			{% if user.is_active %}
			<li><a href="{% url 'manageaccount' %}" class="nav_level1_link">{% trans "Account" %}</a>
				<div class="nav_panel">
					<ul>
						<li><a href="{% url 'manageaccount' %}" class="nav_p_heading">Manage Account</a> 
						<div class="nav_p_description">Change account settings</div></li>
					</ul>
					{% for g in user.groups.all %}
		  			{% if g.name = "planners" or g.name = "clearinghouse" %}
						<ul>
							<li><a href="{% url 'usersettings' %}" class="nav_p_heading">Settings</a> 
							<div class="nav_p_description">Manage user settings</div></li>
						</ul>
					{% endif %}
					{% endfor %}
					{% if user.groups.all.count = 0 %}
						<ul>
							<li><a href="{% url 'requestupgrd' %}" class="nav_p_heading">Request Account Upgrade</a> 
							<div class="nav_p_description">Upgrade Account to allow for submitting or reviewing documents.</div></li>
						</ul>
					{% endif %}
				</div>
			</li>
			{% endif %}
		</ul>
	</nav>
	
	<div id="img_ribbon"></div>
</header>
