{% extends "ceqanet/base.html" %}

{% load staticfiles %}

{% block content %}
            <img src="{% static "ceqanet/img/OPR_banner.png" %}">
            <p><b>Welcome to CEQAnet</b>, the online searchable environmental database 
        of the State Clearinghouse within the <a href="http://www.opr.ca.gov"><b>Office 
        of Planning & Research</b></a>.</p>

       <p><b>CEQAnet</b> contains key information from all California Environmental 
        Quality Act (CEQA) documents submitted to the State Clearinghouse for 
        state review since 1990. For information on documents submitted prior to 1990, email us at <a href="Mailto:state.clearinghouse@opr.ca.gov">state.clearinghouse@opr.ca.gov</a>.  In addition, some federal National Environmental 
        Policy Act (NEPA) documents are submitted to the Clearinghouse for state 
        review; key information from these NEPA documents is also contained in 
        this database.</p>

Version: 2.2014.4.2.1

{% endblock content %}