{% extends "ceqanet/base.html" %}
{% load staticfiles %}

{% block extrajs %}
<meta name="apple-mobile-web-app-capable" content="yes">
<script src="//cdnjs.cloudflare.com/ajax/libs/openlayers/2.12/OpenLayers.js"></script>
<script type="text/javascript" src="{% static 'ceqanet/js/map.js' %}"></script>
<link rel="stylesheet" href="{% static 'ceqanet/css/style.css' %}">
{% endblock extrajs %}

{% block onload %} 
onload="init()"
{% endblock onload %}

{% block formabove %}
    <div id="search">
    <form>
        <ul>
        {{ form.as_ul }}
        <li><input type="submit" value="Search" class="button" title='Click to search'></li>
        </ul>
    </form>
    </div>
{% endblock formabove %}


{% block content %}
    <div id="map">
    </div>
    <div id="sources">
    Background Map Sources: 
    <a href="http://maps.stamen.com/">Stamen Designs</a> and 
    <a href="http://www.openstreetmap.org">©OpenStreetMap contributors.</a>
    </div>
    <div id="attributes"></div>

{% endblock content %}

