{% extends "ceqanet/base.html" %}
{% load staticfiles %}

{% block extrajs %}
<meta name="apple-mobile-web-app-capable" content="yes">
<script src="//cdnjs.cloudflare.com/ajax/libs/openlayers/2.12/OpenLayers.js"></script>
<script type="text/javascript" src="{% static 'ceqanet/js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'ceqanet/js/nominatim.js' %}"></script>
<link rel="stylesheet" href="{% static 'ceqanet/css/map.css' %}">
{% endblock extrajs %}

{% block onload %} 
onload="init()"
{% endblock onload %}

{% block formabove %}
    <div id="geocode">
    {{ form.address }}
    <button value="Search" class="button" title='Location Zoom' onclick="doBasicSearchClick();">Search for Location</button>
    </div>
{% endblock formabove %}


{% block content %}
    <div id="map">
    </div>
    <div id="sources">
    Background Map Sources: 
    <a href="http://maps.stamen.com/">Stamen Designs</a> and 
    <a href="http://www.openstreetmap.org">©OpenStreetMap contributors.</a>
    <p>Nominatim Search Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png"></p>
    </div>
    <div id="attributes"></div>

{% endblock content %}

