{% extends "ceqanet/base.html" %}

{% block title %}OPR Data Clearinghouse Pending Document Detail{% endblock title %}

{% load staticfiles %}

{% block extrajs %}

  <script type="text/javascript">
    function acceptdoc() {
      document.pendingdetailform.mode.value = 'accept';
      document.pendingdetailform.submit();
    }
    function rejectdoc() {
      document.pendingdetailform.mode.value = 'reject';
      document.pendingdetailform.submit();
    }
  </script>

  <link rel="stylesheet" type="text/css" href="{% static "ceqanet/css/adddoc.css" %}">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <script src="//cdnjs.cloudflare.com/ajax/libs/openlayers/2.12/OpenLayers.js"></script>
  <script type="text/javascript" src="{% static 'ceqanet/js/map.js' %}"></script>
  <link rel="stylesheet" href="{% static 'ceqanet/css/style.css' %}">
  <script type="text/javascript" src="{% static 'olwidget/js/olwidget.js' %}"></script>
  <link rel="stylesheet" href="{% static 'olwidget/css/olwidget.css' %}">

{% endblock %}

{% block content %}
<FORM id="pendingdetailform" name="pendingdetailform" class="adddocform" method="post" action="">
  {% csrf_token %}
  <h1>Assign or Reject Pending Document [NOE]:</h1>
  <TABLE border="0" cellpadding="3" cellspacing="0" width="763" valign="top">
    <TR> 
      <TH align="left" colspan="3">
        <h3>Project Information:</h3>
      </TH>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.prj_title.label }}
      </TH>
      <TD colspan="2">
        {{ form.prj_title.errors }}
        {{ form.prj_title }}
      </TD>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.prj_description.label }}
      </TH>
      <TD colspan="2">
        {{ form.prj_description.errors }}
        {{ form.prj_description }}
      </TD>
    </TR>
    <TR> 
      <TH align="left" colspan="3">
        <h3>Document Information:</h3>
      </TH>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.doc_title.label }}
      </TH>
      <TD colspan="2">
        {{ form.doc_title.errors }}
        {{ form.doc_title }}
      </TD>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.doc_description.label }}
      </TH>
      <TD colspan="2">
        {{ form.doc_description.errors }}
        {{ form.doc_description }}
      </TD>
    </TR>
    <TR> 
      <TH align="left" colspan="3">
        Lead Agency Contact Information:
      </TH>
    </TR>
    <tr>
      <TH width="25%" align="left" valign="top">
        Lead Agency:
      </TH>
      <td colspan="2"> 
        {{ docinfo.doc_conagency }}
      </td>
    </tr>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conname.label }}
      </TH>
      <TD colspan="2"> 
        {{ form.doc_conname }}
        {{ form.doc_conname.errors }}
      </TD>
    </TR>
    <TR> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conemail.label }}
      </TH>
      <TD colspan="2">
        {{ form.doc_conemail }}
        {{ form.doc_conemail.errors }}
      </TD>
    </TR>
    <TR>   
      <TD width="25%" valign="top">
        <B>Phone:</B>
      </TD>
      <TD colspan="2">
        {{ form.doc_conphone }}
        {{ form.doc_conphone.errors }}
      </TD>
    </TR>
    <tr> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conaddress1.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_conaddress1 }}
        {{ form.doc_conaddress1.errors }}
      </td>
    </tr>
    <tr> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conaddress2.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_conaddress2 }}
        {{ form.doc_conaddress2.errors }}
      </td>
    </tr>
    <TR> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_concity.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_concity }}
        {{ form.doc_concity.errors }}
      </td>
    </TR>
    <TR> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_constate.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_constate }}
        {{ form.doc_constate.errors }}
      </td>
    </tr>
    <tr> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_conzip.label }}
      </TH>
      <td colspan="2"> 
        {{ form.doc_conzip }}
        {{ form.doc_conzip.errors }}
      </td>
    </tr>
    <tr> 
      <td colspan="3" height="20">
        <h5>Location Information:</h5>
      </td>
    </tr>
    <TR>
      <TH width="25%" align="left" valign="top"> 
        {{ form.doc_location.label }}
      </TH>
      <TD colspan="2">
        {{ form.doc_location.errors }}
        {{ form.doc_location }}
      </TD>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top"> 
        {{ form.geom.label }}
      </TH>
      <TD colspan="2">
        {{ form.geom.errors }}
        {{ form.geom }}
      </TD>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.doc_latitude.label }}
      </TH>
      <TD colspan="2">
        {{ form.doc_latitude }}
        {{ form.doc_latitude.errors }}
      </TD>
    </TR>
    <TR>
      <TH width="25%" align="left" valign="top">
        {{ form.doc_longitude.label }}
      </TH>
      <TD colspan="2">
        {{ form.doc_longitude }}
        {{ form.doc_longitude.errors }}
      </TD>
    </TR>
    <TR>
      <TH align="left" colspan="3">
        Statewide Project?:
      </TH>
    </TR>
    {% for r in form.statewide %}
    <TR>
      <TD colspan="3">
        {{ r }}
        {% if forloop.counter = 1 %}
        - Project encompasses entire State of California
        {% endif %}
        {% if forloop.counter = 2 %}
        - Project contained within one or more counties and/or cities:
        {% endif %}        
        {% if forloop.counter = 2 %}
        <TABLE border="0">
          <TR>
            <TD width="15%">
              &nbsp;
            </TD>
            <TD align="left">
              <b>County:</b>
            </TD>
            <td align="left"> 
              {{ form.counties }}
            </td>
            <TD width="15%">
              &nbsp;
            </TD>
            <TD align="left">
              <b>City:</b>
            </TD>
            <TD align="left"> 
              {{ form.cities }}
            </TD>
          </TR>
          <TR>
            <TD width="15%">
              &nbsp;
            </TD>
            <TD align="left">
              &nbsp;
            </TD>
            <td align="left"> 
              {{ form.counties.errors }}
            </td>
            <TD width="15%">
              &nbsp;
            </TD>
            <TD align="left">
              &nbsp;
            </TD>
            <TD align="left"> 
              {{ form.cities.errors }}
            </TD>
          </TR>
        </TABLE>
        {% endif %}
      </TD>
    </TR>
    {% endfor %}
    <script>
      $(document).ready(function() {
        {% if doc.doc_statewide %}
          $("#id_counties").prop('disabled', true);
          $("#id_cities").prop('disabled', true);
        {% endif %}
        $(".statewide").change(function() {
          if ($(this).val() == 'yes') {
            $("#id_counties").prop('disabled', true);
            $("#id_cities").prop('disabled', true);
          }
          else {
            $("#id_counties").prop('disabled', false);            
            $("#id_cities").prop('disabled', false);            
          }
        });
      });
    </script>
    <TR> 
      <TD width="25%" valign="top">
        <B>Agency Approving Project:</b>
      </td>
      <td colspan="2"> 
        {{ form.doc_approve_noe }}
        {{ form.doc_approve_noe.errors }}
      </td>
    </tr>
    <TR> 
      <TD width="25%" valign="top">
        <B>Person or Agency Carrying Out Project:</b>
      </td>
      <td colspan="2"> 
        {{ form.doc_carryout_noe }}
        {{ form.doc_carryout_noe.errors }}
      </td>
    </tr>
    <tr> 
      <td colspan="3">
        <B>Exempt Status <font color="#000066">(check one)</font>:</B>
      </td>
    </tr>
    {% for radio in form.rdoexemptstatus %}
    <tr> 
      <TD width="25%" valign="top">
        {{ radio.tag }}
      </td>
      {% if forloop.counter = 4 %}
      <td>
        {{ radio.choice_label }}
      </td>
      <td>
        {{ form.strsectionnumber.errors }}
        {{ form.strsectionnumber }}
      </td>
      {% elif forloop.counter = 5 %}
      <td>
        {{ radio.choice_label }}
      </td>
      <td>
        {{ form.strcodenumber.errors }}
        {{ form.strcodenumber }}
      </td>
      {% else %}
      <td colspan="2">
        {{ radio.choice_label }}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    <TR> 
      <TH width="25%" align="left" valign="top">
        {{ form.doc_exreasons.label }}
      </TH>
      <td colspan="2">
        {{ form.doc_exreasons.errors }}
        {{ form.doc_exreasons }}
      </td>
    </tr>
    <tr> 
      <td colspan="3">
        <h5>Attachments:</h5>
      </td>
    </tr>
    <TR> 
      <TD colspan="3">
        <TABLE BORDER="1" WIDTH="100%">
          <TR>
            <TH BGCOLOR="#000000">
              <FONT COLOR="#FFFFFF">
                List of Files Attached to Document
              </FONT>
            </TH>
          </TR>
          {% if attachments %}
            {% for a in attachments %}
              <TR>
                <TD>
                  <a href="{{ a.datt_file.url }}" target="_blank">{{ a.datt_file.name }}</a>
                </TD>
              </TR>
            {% endfor %}
          {% else %}
            <TR>
              <TD align="center">
                NO FILES ATTACHED
              </TD>
            </TR>      
          {% endif %}
        </TABLE>
      </TD>
    </TR>
    <tr>
      <td colspan="3">
        <hr width="100%">
      </td>
    </tr>
    <TR>
      <TD colspan="3">
        <B>{{ form.doc_clerknotes.label }}</B>
        {{ form.doc_clerknotes.errors }}
        {{ form.doc_clerknotes }}
      </TD>
    </TR>
    <tr> 
      <td colspan="3"> 
        <hr width="100%">
      </td>
    </tr>
    <TR> 
      <TD align="left" colspan="3"> 
        <input id="accept" type="button" value="Accept Document" onClick="javascript:acceptdoc()">
      </TD>
    </TR>
    <TR> 
      <TD align="left" colspan="3"> 
        <input id="reject" type="button" value="Reject Document" onClick="javascript:rejectdoc()">
      </TD>
    </TR>
    <TR> 
      <TD align="left" colspan="3"> 
        <B>{{ form.rejectreason.label }}</B>
        {{ form.rejectreason.errors }}        
        {{ form.rejectreason }}
      </TD>
    </TR>
  </TABLE>
  <input type="hidden" name="doc_pk" value="{{ docinfo.doc_pk }}">
  <input type="hidden" id="mode" name="mode" value="">
</FORM>
{% endblock content %}