{% extends "ceqanet/base.html" %}

{% load staticfiles %}

{% block extrajs %}
<meta http-equiv="refresh" content="60">
{% endblock extrajs %}

{% block content %}

  <h4>Current Pending Documents</h4>
  {% if object_list %}
  <TABLE border="1">
    {% if is_paginated %}
    <TR>
      <TD COLSPAN="6" ALIGN="middle">
          <B>
            {% if page_obj.number = 1 %}
              [First]&nbsp;&nbsp;
            {% else %}
              <A HREF="?page=1&{{ restofqs }}">[First]</A>&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page={{ page_obj.next_page_number }}&{{ restofqs }}">[Next]</A>&nbsp;&nbsp;
            {% else %}
              [Next]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_previous %}
              <A HREF="?page={{ page_obj.previous_page_number }}&{{ restofqs }}">[Previous]</A>&nbsp;&nbsp;
            {% else %}
              [Previous]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page=last&{{ restofqs }}">[Last]</A>
            {% else %}
              [Last]
            {% endif %}
          </B>
      </TD>
    </TR>
    {% endif %}
    <TR>
      <TH align="center" width="10%">
        Lead Agency
      </TH>
      <TH align="center" width="10%">
        Project Title
      </TH>
      <TH align="center" width="40%">
        Description
      </TH>
      <TH align="center" width="10%">
        Document Type
      </TH>
      <TH align="center" width="10%">
        Date Received
      </TH>
    </TR> 
    {% for pending in pendings %}
      <TR>
        <TD align="center">
          {{ pending.doc_prj_fk.prj_leadagency }}
        </TD>
        <TD align="center">
          {% if pending.doc_doct_fk.keyw_pk = 109 %}
            <a href="{% url 'pendingdetail_noe' %}?doc_pk={{ pending.doc_pk }}"><i>
              {% if pending.doc_title %}
                {{ pending.doc_title }}
              {% else %}
                {{ pending.doc_prj_fk.prj_title }}
              {% endif %}
            </i></a>
          {% elif pending.doc_doct_fk.keyw_pk = 108 %}
            <a href="{% url 'pendingdetail_nod' %}?doc_pk={{ pending.doc_pk }}"><i>
              {% if pending.doc_title %}
                {{ pending.doc_title }}
              {% else %}
                {{ pending.doc_prj_fk.prj_title }}
              {% endif %}
            </i></a>
          {% elif pending.doc_doct_fk.keyw_pk = 102 %}
            <a href="{% url 'pendingdetail_nop' %}?doc_pk={{ pending.doc_pk }}"><i>
              {% if pending.doc_title %}
                {{ pending.doc_title }}
              {% else %}
                {{ pending.doc_prj_fk.prj_title }}
              {% endif %}
            </i></a>
          {% else %}
            <a href="{% url 'pendingdetail_noc' %}?doc_pk={{ pending.doc_pk }}"><i>
              {% if pending.doc_title %}
                {{ pending.doc_title }}
              {% else %}
                {{ pending.doc_prj_fk.prj_title }}
              {% endif %}
            </i></a>
          {% endif %}
        </TD>
        <TD align="center">
          {% if pending.doc_description %}
            {{ pending.doc_description }}
          {% else %}
            {{ pending.doc_prj_fk.prj_description }}
          {% endif %}
        </TD>
        <TD align="center">
          {{ pending.doc_doctype }}
        </TD>
        <TD align="center">
          {{ pending.doc_received }}
        </TD>
      </TR>
    {% endfor %}
    {% if is_paginated %}
    <TR>
      <TD COLSPAN="6" ALIGN="middle">
          <B>
            {% if page_obj.number = 1 %}
              [First]&nbsp;&nbsp;
            {% else %}
              <A HREF="?page=1&{{ restofqs }}">[First]</A>&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page={{ page_obj.next_page_number }}&{{ restofqs }}">[Next]</A>&nbsp;&nbsp;
            {% else %}
              [Next]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_previous %}
              <A HREF="?page={{ page_obj.previous_page_number }}&{{ restofqs }}">[Previous]</A>&nbsp;&nbsp;
            {% else %}
              [Previous]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page=last&{{ restofqs }}">[Last]</A>
            {% else %}
              [Last]
            {% endif %}
          </B>
      </TD>
    </TR>
    {% endif %}
  </TABLE>
    {% else %}
  <TABLE>
    <TR>
      <TD ALIGN="middle">
        No Documents Currently Pending
      </TD>
    </TR>
  </TABLE>
  {% endif %}

{% endblock content %}