{% extends "ceqanet/listpage.html" %}

{% block title %}OPR Data Clearinghouse Project Listing{% endblock title %}

{% block listing %}

  {% if object_list %}
 	<TABLE border="1">
    {% if is_paginated %}
    <TR>
      <TD COLSPAN="6" ALIGN="middle">
          <B>
            {% if page_obj.number = 1 %}
              [First]&nbsp;&nbsp;
            {% else %}
              <A HREF="?page=1&{{ restofqs }}">[First]</A>&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page={{ page_obj.next_page_number }}&{{ restofqs }}">[Next]</A>&nbsp;&nbsp;
            {% else %}
              [Next]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_previous %}
              <A HREF="?page={{ page_obj.previous_page_number }}&{{ restofqs }}">[Previous]</A>&nbsp;&nbsp;
            {% else %}
              [Previous]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page=last&{{ restofqs }}">[Last]</A>
            {% else %}
              [Last]
            {% endif %}
          </B>
      </TD>
    </TR>
    {% endif %}
 	  <TR>
 	  	<TH align="center" width="10%">
 	      SCH#
 	  	</TH>
 	  	<TH align="center" width="10%">
 	  	  Lead Agency
 	  	</TH>
 	  	<TH align="center" width="10%">
 	  	  Project Title
 	  	</TH>
 	  	<TH align="center" width="40%">
 	  	  Description
 	  	</TH>
 	  	<TH align="center" width="10%">
 	  	  Document Type
 	  	</TH>
 	  	<TH align="center" width="10%">
 	  	  Date Received
 	  	</TH>
 	  </TR> 
    {% for doc in docs %}
      <TR>
      	<TD align="center">
    	    {{ doc.doc_prj_fk.prj_schno }}
    	  </TD>
      	<TD align="center">
    	    {{ doc.doc_prj_fk.prj_leadagency }}
    	  </TD>
      	<TD align="center">
    	    <a href="/projdoclist/?prj_pk={{ doc.doc_prj_fk.prj_pk }}"><i>{{ doc.doc_prj_fk.prj_title }}</i></a>
    	  </TD>
      	<TD align="center">
    	    {{ doc.doc_description }}
    	  </TD>
      	<TD align="center">
    	    <a href="/docdescription/{{ doc.doc_pk }}/?doctype={{ doc.doc_doctype }}">{{ doc.doc_doctype }}</a>
      	</TD>
      	<TD align="center">
    	  {{ doc.doc_received }}
    	</TD>
      </TR>
  	{% endfor %}
    {% if is_paginated %}
    <TR>
      <TD COLSPAN="6" ALIGN="middle">
          <B>
            {% if page_obj.number = 1 %}
              [First]&nbsp;&nbsp;
            {% else %}
              <A HREF="?page=1&{{ restofqs }}">[First]</A>&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page={{ page_obj.next_page_number }}&{{ restofqs }}">[Next]</A>&nbsp;&nbsp;
            {% else %}
              [Next]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_previous %}
              <A HREF="?page={{ page_obj.previous_page_number }}&{{ restofqs }}">[Previous]</A>&nbsp;&nbsp;
            {% else %}
              [Previous]&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.has_next %}
              <A HREF="?page=last&{{ restofqs }}">[Last]</A>
            {% else %}
              [Last]
            {% endif %}
          </B>
      </TD>
    </TR>
    {% endif %}

    </TABLE>
  {% endif %}

{% endblock listing %}