{% extends "ceqanet/listpage.html" %}

{% block title %}OPR Data Clearinghouse Project Listing{% endblock title %}

{% block listing %}

  {% if object_list %}
 	<TABLE border="1">
 	  <TR>
 	  	<TH align="center" width="10%">
 	      City
 	  	</TH>
 	  	<TH align="center" width="10%">
 	  	  Cross Street
 	  	</TH>
 	  	<TH align="center" width="10%">
 	  	  Document Type
 	  	</TH>
 	  	<TH align="center" width="40%">
 	  	  Description
 	  	</TH>
 	  	<TH align="center" width="10%">
 	  	  Date Received
 	  	</TH>
 	  </TR> 
    {% for prjdoc in prjdocs %}
      <TR>
      	<TD align="center">
    	  {{ prjdoc.doc_city }}
    	</TD>
      	<TD align="center">
    	  {{ prjdoc.doc_xstreets }}
    	</TD>
      	<TD align="center">
          <a href="/docdescription/{{ prjdoc.doc_pk }}/?doctype={{ prjdoc.doc_doctype }}">{{ prjdoc.doc_docname }}</a>
        </TD>
      	<TD align="center">
    	  {{ prjdoc.doc_description }}
    	</TD>
      	<TD align="center">
    	  {{ prjdoc.doc_received }}
    	</TD>
      </TR>
  	{% endfor %}
    </TABLE>
  {% endif %}

{% endblock listing %}