{% extends "ceqanet/base.html" %}

{% load staticfiles %}

{% block content %}

  <FORM NAME="submit" METHOD="post" ACTION="">
    {% csrf_token %}
    <table border="0" cellpadding="5">
      <tr><td colspan="3">&nbsp;</td></tr>
      <tr>
        <td colspan="3">
          <B>Begin document submission process by selecting lead agency and document type below:</B>
        </td>
      </tr>
      <tr>
        <td>
          Lead Agency:
        </td>
        <td>
          <select name="lag_pk">
          {% for lag in laglist %}
            <option value="{{ lag.lag_pk }}">{{ lag.lag_name }}
          {% endfor %}
          </select>
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td>
          Document Type:
        </td>
        <td colspan="2">
          <select name="doctype">
            <option value="NOC">NOC</option>
            <option value="NOD">NOD</option>
            <option value="NOE" selected>NOE</option>
            <option value="NOP">NOP</option>
          </select>
        </td>
      </tr>
      <TR>
        <tD colspan="3">
          Is there an existiing project associated with this document?:
        </TD>
      </TR>
      <TR>
        <tD>
          <input type="radio" name="prjtoggle" class="prjtoggle" value="yes" checked>Yes
        </TD>
        <TD>
          <input type="radio" name="prjtoggle" class="prjtoggle" value="no">No
        </TD>
        <TD>
          &nbsp;
        </TD>
      </TR>
      <tr colspan="3">
        <td>
          <Input type="submit" value="Next >>">
        </td>
      </tr>
    </table>

{% endblock content %}