{% extends "ceqanet/base.html" %}

{% load staticfiles %}

{% block content %}
<FORM name="settingsform" method="post" action="">
  {% csrf_token %}
  <TABLE border="0" cellpadding="3" cellspacing="0" width="763" valign="top">
    <TR> 
      <TD colspan="2" align="left">
        <h3>User Settings</h3>
      </TD>
    </TR>
    <TR> 
      <TD colspan="2" align="left">
        <h5>Account Settings</h5>
      </TD>
    </TR>
    <tr colspan="2">
      <td>
        <input id="changepw" type="submit" value="Change Password >>">
      </td>
    </tr>
    <TR> 
      <TD colspan="2" align="left">
        <h5>Contact Information</h5>
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        {% if isplanner %}
        Region: {{ form.region }}
        {% endif %}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        {% if islead or isclearinghouse or isplanner %}
        Lead Agency: {{ form.set_lag_fk }}
        {% endif %}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        {% if isreview %}
        Reviewing Agency: {{ form.set_rag_fk }}
        {% endif %}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        Contact Person's First Name: {{ form.confirstname }}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        Contact Person's Last Name: {{ form.conlastname }}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        E-mail: {{ form.conemail }}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        Phone Number: {{ form.conphone }}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        <input type="submit" value="Update">
      </TD>
    </TR>
  </TABLE>
  <input type="hidden" name="user_id" value="{{user_id}}">
</FORM>
{% endblock content %}