{% extends "ceqanet/base.html" %}

{% load staticfiles %}

{% block content %}
<FORM name="settingsform" method="post" action="">
  {% csrf_token %}
  <TABLE border="0" cellpadding="3" cellspacing="0" width="763" valign="top">
    <TR> 
      <TD colspan="2" align="left">
        <h3>User Settings</h3>
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        {% if islead or isclearinghouse or isplanner %}
        Lead Agency: {{ form.set_lag_fk }}
        {% endif %}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        {% if isreview or isclearinghouse or isplanner %}
        Reviewing Agency: {{ form.set_rag_fk }}
        {% endif %}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        <input type="submit" value="Update">
      </TD>
    </TR>
  </TABLE>
</FORM>
{% endblock content %}