{% extends "ceqanet/base.html" %}

{% load staticfiles %}

{% block content %}
<FORM name="settingsform" method="post" action="">
  {% csrf_token %}
  <TABLE border="0" cellpadding="3" cellspacing="0" width="763" valign="top">
    <TR> 
      <TD colspan="2" align="center">
        User Settings
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        &nbsp;
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        {% if isplanner %}
        Region: {{ form.region }}
        {% endif %}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        {% if islead %}
        Lead Agency: {{ form.set_lag_fk }}
        {% endif %}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        {% if isreview %}
        Reviewing Agency: {{ form.set_rag_fk }}
        {% endif %}
      </TD>
    </TR>
    <TR> 
      <TD colspan="2">
        <input type="submit" value="Update">
      </TD>
    </TR>
  </TABLE>
  <input type="hidden" name="user_id" value="{{user_id}}">
</FORM>
{% endblock content %}